.section_infoUser{
    margin-top: 100px;
    margin-bottom: 35px;
    .title{
        margin-bottom: 15px;
        text-transform:none;
    }
    .text{
        text-align: center;
    }
    .title_row{
        border:1px solid #dee2e6;
        padding: 5px;

        .item_title{
            display: flex;
            font-weight: 600;
        }
    }
    .userInfo_row{
        padding: 5px;
        border: 1px solid #dee2e6;
        //background: #dee2e6;
        .item_info{
            display: flex;
        }

    }
.userInfo_row:nth-of-type(even){
        background: #dee2e6;
    }

}
.menuBlock_row{
    .menuBlock_col{
        padding: 0;
        margin-bottom: 20px;
        .menu_img{
            width: 340px;
            height: 250px;
            margin-bottom: 20px;
        }
    }
}
