.law_Ukraine{
    margin: 40px 0;
    .block_law{
        display: flex;
        align-items: center;
        .file-medical{
            width: 15px;
            margin-right: 15px;
        }
        .text{
            font-weight: bold;
        }
    }

    .block_text{
        font-weight: 300;
        color:red;
        margin-top: 5px;
    }
}
