.students{
    padding: 20px;
    position: relative;
    .title{
        margin-bottom: 20px;
        text-transform: none;
    }
    .students_row{
        .block_list{
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn-outline-secondary{
                margin-bottom: 15px;
            }
        }
    }
    .wrapper_abetka{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .link_abetka{
            margin: 0 5px;
        }
    }

}
