.workers{
    .main_text{
        padding: 20px 0 70px 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    .row_workers{
        .photo_workers{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
    }
}

