
@media (max-width: 767px) {
    //global
    .subtitle{
        font-size:4.129vw;
    }
    .title{
        font-size:4.845vw;
        margin:9.568vw 0;
    }
    .text{
        font-size:2.323vw;
    }
    //header
    .header{
        .my_navbar{
            padding: 10px 10px;
            .nav-item{
                width: 100px;
                margin-bottom: 20px;
                .nav-link{
                    font-size: 18px;
                    padding: 0;
                }
            }
            .nav_hide{
                margin: -1px!important;
                .user_block{
                    display: flex;
                    align-items: center;
                    a{
                        margin-right: 10px;
                    }
                }
            }
            .mobi_bar{
                display: flex;
                justify-content: space-between
            }
        }

    }
}

