@media (max-width: 991px) {
    //global
    .subtitle{
        font-size:3.229vw;
    }
    .title{
        font-size:3.633vw;
        margin:7.568vw 0;
    }
    .text{
        font-size:1.816vw;
    }
    //students
    .students{
        .law_Ukraine{
            margin: 4.036vw 0;
        }
    }
}
